@font-face {
  font-family: 'Huge';
  src: url('/fonts/HugeGothic-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/HugeGothic-Bold.woff') format('woff'),
    url('/fonts/HugeGothic-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Copernicus';
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/GalaxieCopernicus-Book.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/GalaxieCopernicus-Book.woff') format('woff'),
    url('/fonts/GalaxieCopernicus-Book.ttf') format('truetype');
}

@font-face {
  font-family: 'Copernicus';
  font-weight: normal;
  font-style: italic;
  src: url('/fonts/GalaxieCopernicus-BookItalic.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/GalaxieCopernicus-BookItalic.woff') format('woff'),
    url('/fonts/GalaxieCopernicus-BookItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Copernicus';
  font-weight: bold;
  font-style: normal;
  src: url('/fonts/GalaxieCopernicus-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/GalaxieCopernicus-Bold.woff') format('woff'),
    url('/fonts/GalaxieCopernicus-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Copernicus';
  font-weight: bold;
  font-style: italic;
  src: url('/fonts/GalaxieCopernicus-BoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/GalaxieCopernicus-BoldItalic.woff') format('woff'),
    url('/fonts/GalaxieCopernicus-BoldItalic.ttf') format('truetype');
}
